<img src="https://cursos.virtual.uniandes.edu.co/isis4219/wp-content/uploads/sites/162/2014/11/cropped-misisheader.png" ><br>
# Machine Learning Techniques - ISIS4219

Intersemestral 2020

## Proyecto lenguaje de señas

### Integrantes:
* Daisy Tatiana Macias
* Dayana Romero
* Juan José Villegas
* Juan Sebastián Méndez

# 1. Importando las librerias requeridas

In [1]:
import pandas as pd
import numpy as np
from pandas_profiling import ProfileReport

# 2. Perfilamiento y entendimiento de los datos

<img src="./Images/Landmarks.png" >

In [4]:
#Importando los datos
diccionario = pd.read_csv('./data/diccionario.csv', encoding = "UTF-8")
#data = pd.read_csv('./data/datos.csv', encoding = "ISO-8859-1")

In [5]:
diccionario

   Columna                                        Descripción
0       x0      Coordenada X LM 0 Correspondiente a la muñeca
1       y0      Coordenada Y LM 0 Correspondiente a la muñeca
2       z0      Coordenada Z LM 0 Correspondiente a la muñeca
3       x1   Coordenada X LM 1 Correspondiente al dedo pulgar
4       y1   Coordenada Y LM 1 Correspondiente al dedo pulgar
..     ...                                                ...
59     z19  Coordenada Z LM 19 Correspondiente a la tercer...
60     x20  Coordenada X LM 20 Correspondiente a la punta ...
61     y20  Coordenada Y LM 20 Correspondiente a la punta ...
62     z20  Coordenada Z LM 20 Correspondiente a la punta ...
63   Clase                                Números del 0 al 11

[64 rows x 2 columns]

# 3. Limpieza y preparación de datos

## 3.1 Limpieza de datos

## 3.2 Preparación de datos

# 4. Modelamiento

# 5. Predicción

# 6. Validación